@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Poppins:ital,wght@0,300;0,400;0,500;1,600;1,700&display=swap');
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(253, 253, 253);
  color: black;
  
}