.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 20vh 70vh 10vh 100vh 100vh;
  padding: 0 150px 0 150px;
  grid-template-areas: "header header"
                        "content content"
                        "clientes clientes"
                        "servicos servicos"
                        "form form"
                        "portifolio portifolio"
                        "footer footer";
  font-family: 'Poppins', sans-serif;
}

.form{
  grid-area: form;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  justify-items: center;
  align-items: center;
  
}
.form_content {
   
  justify-self: center;
  text-align: left;

  padding-left: 50px;
  
}
.form_content p:first-child{
  color: #F75C4E;
  font-weight: 700;
}
.form_content p{
  color: #575455;
  width: 85%;
  
}

.form_img img{
  border-radius: 50px;
  width: 500px;
}
.form form{
  display: flex;
  flex-direction: column;
}
.form input{
  margin-top: 15px;
  padding: 15px 30px;
  color: #000;
  border-radius: 50px;
  background-color: #F5F6FB;
  border: none; 
}
.form input::placeholder{
  color: #575455;
  font-weight: 400;
  font-size: 16px;
}
.form button{
  margin-top: 15px;
  padding: 15px 30px;
  border: none;
  border-radius: 50px;
  background-color: #1F7CFF;
  color: white;
  font-size: 16px;
  width: 180px;
}

.servicos{
  grid-area: servicos;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "header_2 header_2 header_2"
                        "servico servico servico";    
  text-align: center;  
                  
}
.servicos p:first-child{
  color: #F75C4E;
  font-weight: 700;
}
.servicos p {
  color: #575455;
}
.servicos h2{
  font-weight: 700;
  font-size: 2.1em;
}
.servicos h3{
  color: #070F18;
}
.icon svg{
  position: relative;
  top: -43px;
    
}
.header_2 {
  grid-area: header_2;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  
}
.header_2 > *{
  margin: 10px auto;
}
.header_2 p{
  width: 25%;
}
.servico {
  align-self: end;
  padding: 30px;
}
.servico > div{
  grid-area: servico;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.servico > div > h3,
.servico > div > p{
  margin: 5px auto;
}

.portifolio {
  grid-area: portifolio;
  display: grid;
  grid-template-areas: "header_3 header_3 header_3"
                        "portifolio_item portifolio_item portifolio_item";
  grid-template-columns: 1fr 1fr 1fr;
  
  
  
}
.header_3 {
  grid-area: header_3;
  text-align: left;
  

}
.header_3 p{
  color: #F75C4E;
  font-weight: 700;
  margin-bottom: -10px;
}
.header_3 h2{
    font-weight: 700;
}
.portifolio_item img{
  width: 300px;
  height: 180px;
  padding: 20px;
}
.portifolio_item > div{
  grid-area: portifolio_item;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  
}
.header {
  grid-area: header;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #070F18;
}
.header h2{
  text-decoration: underline;
}
.header a{
  text-decoration:none;
  color: black;
  opacity: .9;
}
.header a:hover {
  opacity: 1;
  transition: .5s;
}


.content {
  grid-area: content;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.content h1{
  font-weight: 700;
  font-size: 3em;
  width: 80%;
}
.content p{
  text-align: left;
  font-weight: 400;
  width: 80%;
  color: #575455;
}
.content a{
  border-radius: 50px;
  background: #1F7CFF;
  width: 180px;
  padding: 15px 35px;
  text-decoration: none;
  color: white;
  opacity: .9;
  font-weight: 600;
}
.content a:hover{
  opacity: 1;
  transition: .5s;
}
.contentbutton{
  padding-top: 30px;
  
}
.clientes{
  grid-area: clientes;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
}
.content2 img{
  border-radius: 50px;
  width: 500px;
}
.title{
  order: 1;
}
.menu{
  order: 2;
}
.menu li{
  display: inline-block;
  padding: 0 0 0 30px;
}
.footer {
  text-align: center;
  grid-area: footer;
  padding: 100px 0;
  color: #fff;
}

@media(max-width: 1080px){
  .content img{
    width: 300px;
  }
  .form img{
    width: 300px;
  }
  .portifolio_item img{
    width: 100px;
  }
}